<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>クラス一覧画面</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style2.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    </head>
    <body>
        <form th:action="@{/class/create}" th:object="${classForm}" method="post">
            <table class="table table-striped table-bordered table-condensed">
                <tr><td>クラスコード:</td><td><input type="text" name="c_code"  th:field="*{c_code}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('c_code')}"th:errors="*{c_code}" class="error-message">error!</span></td></tr>
                <tr><td>学年:</td><td><input type="text" name="c_year" th:field="*{c_year}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('c_year')}"th:errors="*{c_year}" class="error-message">error!</span></td></tr>
                <tr><td>学科コード:</td><td><input type="text" name="d_code" th:field="*{d_code}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('d_code')}"th:errors="*{d_code}" class="error-message">error!</span></td></tr>
                <tr><td>オンライン曜日:</td><td><input type="text" name="onlineday" th:field="*{onlineday}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('onlineday')}"th:errors="*{onlineday}" class="error-message">error!</span></td></tr>
                <tr><td>休憩時間:</td><td><input type="text" name="btime" th:field="*{btime}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('btime')}"th:errors="*{btime}" class="error-message">error!</span></td></tr>
            </table>
            <input type="submit" value="作成"/> 
        </form>
        <hr />
        <table>
            <tr>
                <th>クラスコード</th>
                <th>学年</th>
                <th>学科コード</th>
                <th>オンライン曜日</th>
                <th>休憩時間</th>
            </tr>
            <tr th:each="class:${class}">
                <td th:text="${class.c_code}">999999</td>
                <td th:text="${class.c_year}">411</td>
                <td th:text="${class.d_code}">111</td>
                <td th:text="${class.onlineday}">1111</td>
                <td th:text="${class.btime}">1111</td>
        
                <td>
                    <form th:action="@{/class/delete}" method="post">
                        <input type="submit" name="form" value="削除" />
                        <input type="hidden" name="c_code" th:value="${class.c_code}"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>