<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>書籍登録一覧画面</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    </head>
    <body>
        <form th:action="@{/subject/create}" th:object="${teacherForm}" method="post">
            <table class="table table-striped table-bordered table-condensed">
                
                <tr><td>科目番号:</td><td><input type="text" name="s_code" th:field="*{s_code}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('s_code')}"th:errors="*{s_code}" class="error-message">error!</span></td></tr>
                <tr><td>科目名:</td><td><input type="text" name="s_name" th:field="*{s_name}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('s_name')}"th:errors="*{s_name}" class="error-message">error!</span></td></tr>
                <td>学科コード:</td><td><input type="text" name="c_code" th:field="*{c_code}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('c_code')}"th:errors="*{c_code}" class="error-message">error!</span></td></tr>
                <tr><td>担当教員番号:</td><td><input type="text" name="t_number"  th:field="*{t_number}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('t_number')}"th:errors="*{t_number}" class="error-message">error!</span></td></tr>
                <tr><td>履修学期:</td><td><input type="text" name="s_classification" th:field="*{s_classification}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('s_classification')}"th:errors="*{s_classification}" class="error-message">error!</span></td></tr>
                <tr><td>使用教室番号:</td><td><input type="text" name="use_room_number"  th:field="*{use_room_number}" th:errorclass="error-input"/><span th:if="${#fields.hasErrors('use_room_number')}"th:errors="*{use_room_number}" class="error-message">error!</span></td></tr>
            </table>
            <input type="submit" value="作成"/> 
        </form>
        <hr />
        <table>
            <tr th:each="subject:${subject}">
                <td th:text="${subject.t_number}">999999</td>
                <td th:text="${subject.s_name}">サンプル科目</td>
                <td th:text="${subject.s_code}">1</td>
                <td th:text="${subject.s_classification}">js</td>
                <td th:text="${subject.use_room_number}">408</td>
        
                <td>
                    <form th:action="@{/subject/delete}" method="post">
                        <input type="submit" name="form" value="削除" />
                        <input type="hidden" name="t_number" th:value="${subject.t_number}"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>