<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>科目一覧画面</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    </head>
    <body>
        <h4>クラスを選択</h4>
        <from action="#" th:action="@{/subject/filter}" method="post">
            <select name = "item">
                <option th:each="item : ${clss}" th:value="${item.c_code}" th:text="${item.c_code}"></option>  
            </select>
            <button type="submit">検索</button>
        </from>
        <div th:if="${filter}">
            <hr />
            <table>
                <tr th:each="subject:${subject}">
                    <td th:text="${subject.t_number}">999999</td>
                    <td th:text="${subject.s_name}">サンプル科目</td>
                    <td th:text="${subject.s_code}">1</td>
                    <td th:text="${subject.s_classification}">js</td>
                    <td th:text="${subject.use_room_number}">408</td>
            
                    <td>
                        <form th:action="@{/subject/delete}" method="post">
                            <input type="submit" name="form" value="削除" />
                            <input type="hidden" name="t_number" th:value="${subject.t_number}"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>