<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>科目確認画面</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style2.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    </head>
    <body>
        <form th:action="@{/subject/gohome}" method="post">
            <input type="submit" name="form" value="メインページへ" />
        </form>
        <h2>科目確認ページ</h2>
        <h5>クラスを選択</h5>
        <form  th:action="@{/subject/filter}" method="post">
            <select name="c_code" id="cbid">
                <option value="" disabled selected>クラスを選択してください</option>
                <option th:each="item : ${clss}" th:value="${item.c_code}" th:text="${item.c_code}"></option>
            </select>
            <input type="submit" name="form" value="検索" />
        </form>
        <form th:action="@{/subject/set}" method="post">
            <input type="submit" name="form" value="科目追加" />
        </form>
        
        <hr />
        <div th:if="${filter}">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>番号</th>
                        <th>科目名</th>
                        <th>クラスコード</th>
                        <th>担当教員名</th>
                        <th>フラグ</th>
                        <th>使用教室番号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subject : ${filter}">
                        <td th:text="${subject.s_code}">1</td>
                        <td th:text="${subject.s_name}">サンプル科目</td>
                        <td th:text="${subject.c_code}">999999</td>
                        <td th:text="${subject.t_number}">999999</td>
                        <td th:text="${subject.s_classification}">js</td>
                        <td th:text="${subject.use_room_number}">408</td>
                        <td>
                            <form th:action="@{/subject/delete}" method="post">
                                <input type="submit" name="form" value="削除" />
                                <input type="hidden" name="s_code" th:value="${subject.s_code}"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </body>
</html>