body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-group label {
    flex: 0 0 100px;
    margin-right: 10px;
    color: #555;
    font-weight: bold;
}
.input-group select, .input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    margin-right: 10px;
    font-size: 16px;
}
.input-group button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
.input-group button:hover {
    background-color: #218838;
}
button.add, button.generate, button.image ,button.save-timetable{
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
button.generate:hover, button.image:hover, button.add:hover {
    background-color: #0056b3;
}
.saved-items {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.error-message {
    color: red;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}
td {
    background-color: #fff;
    color: #555;
    position: relative;
    cursor: pointer;
}
.delete-cell {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
    font-weight: bold;
    background-color: white;
    border: none;
}
.time-picker {
    display: flex;
    align-items: center;
}
.time-picker input {
    width: 90px;
    margin-right: 10px;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body {
    margin-top: 10px;
}
.modal-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
}
.modal-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.modal-footer button:hover {
    background-color: #0056b3;
}